@import '~material-colors/dist/colors';

.bg{
	fill: $md-grey-100;
}

circle.dot{
	fill: $md-pink-800;
	pointer-events: none;
}
circle.selector{
	fill: $md-white;
	stroke: $md-white;
	opacity: .1;
	transition: opacity .3s ease-in-out;
	cursor: pointer;
}
circle.selector:hover{
	opacity: .9;
	transition: opacity .3s ease-in-out;
}

.car{
	fill: $md-light-blue-500;
	rx: 1px;
	ry: 1px;
}
.lane{
	fill: $md-grey-300;
	pointer-events: none;
}
.line{
	fill: none;
	stroke: $md-pink-800;
	stroke-width: 4px;
	// stroke-dasharray: 10,4;
	stroke-linecap: round;
	pointer-events: none;
}

.road{
	fill: $md-blue-grey-100;
	// stroke: $md-white;
	opacity: .7;
	pointer-events: none;
	stroke: none;
}

.axisLabel{
	font-size: 15px;
	fill: black;
	text-anchor: middle;
	alignment-baseline: central;
	// transform: rotate(-90deg);
}

circle.signal{
	// fill: $md-light-blue-500;
	fill: none;
	stroke-width: 1px;
	stroke: $md-pink-500;
}